[connection]
id={{ item.name }} openvpn
uuid={{ item.uuid }}
type=vpn
autoconnect={{ item.auto | default('false') }}
permissions=
timestamp=

[vpn]
auth=SHA256
ca=/etc/pki/openvpn/{{ item.name }}-ca.pem
cert=/etc/pki/openvpn/{{ item.name }}-cert.pem
cert-pass-flags=0
cipher=AES-256-GCM
{% if item.username is defined %}
connection-type=password-tls
username={{ item.username }}
password-flags=1
{% else %}
connection-type=tls
{% endif %}
dev=tun
key=/etc/pki/openvpn/{{ item.name }}-key.pem
remote={{ item.remote }}
remote-cert-tls=server
ta=/etc/pki/openvpn/{{ item.name }}-tls-auth.pem
ta-dir=1
verify-x509-name=name:{{ item.x509name }}
service-type=org.freedesktop.NetworkManager.openvpn

[ipv4]
dns-search=
ignore-auto-dns=true
method=auto
never-default=true

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
ignore-auto-dns=true
ignore-auto-routes=true
ip6-privacy=0
method=auto
